
body{
	max-width: 900px;
	margin: auto;


}

.heading1{
	font-family: CaeciliaLTStd-Bold;
	font-size: 36px;
	color: #4A4A4A;
}

#pickedCountry{
	font-family: CaeciliaLTStd-Bold;
	font-size: 24px;
	color: #4A4A4A;
}
.heading2{
	font-family: CaeciliaLTStd-Bold;
	font-size: 18px;
	font-style: italic;
	color: #4A4A4A;
}
.intro_text{
	font-family: CaeciliaLTStd-Roman;
	font-size: 18px;
	color: #4A4A4A;
	line-height: 26px;
	max-width:70%;
}

.dropdown_text{
    text-align: right;
    float: left;
	font-family: CaeciliaLTStd-Bold;
	font-size: 14px;
	color: #ffffff;
	letter-spacing: 0;

   	margin-left:5px;
	text-shadow: 0 1px 0 #000000;
}

#indic_dropdown,#country_dropdown{
	float:left;
    text-align: center;
	font-family: CaeciliaLTStd-Bold;
	color:#ffffff;
	text-shadow: 0 1px 0 #000000;
	font-size: 14px;
	height:32px;
	width:45%;
   	padding:0px;
   	margin-left:10px;
   	border:none;
   	/**background-image: linear-gradient(-180deg,rgba(95,131,164,0.80) 0%,rgba(134,151,175,0.80) 100%);**/
   	background:none;
}

#country_sel,#indic_sel{
    display: inline-block;
    line-height: 200%;
	/*width:50%;*/
   	background-image: linear-gradient(-180deg,rgba(95,131,164,0.80) 0%,rgba(134,151,175,0.80) 100%);

margin-bottom:20px;
}


#toolbar{
    display: inline-block;
}
.button{
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font: 14px  TheSerif, Helvetica, Arial, sans-serif;
  font-weight:400;
  float:left;
  margin: 2px 5px 2px 5px;
  color:#464646;
  background: #F8FAFC;
  border: 1px solid #e0e0e0;
}
.button:hover {
  background: #fff;
}


.button.active {
  background: #8EA4B1;
  color: #fff;
}



#countryDetail{
	max-width: 900px;
	margin: auto;


}

#inequalityCard{
	padding: 10px;
	background-image: linear-gradient(-180deg,rgba(228,226,212,0.80) 0%,rgba(228,232,241,0.80) 100%);
}

#countryCard{
	display: none;
	padding: 10px;
	background-image: linear-gradient(-180deg,rgba(228,226,212,0.80) 0%,rgba(228,232,241,0.80) 100%);
}

#distriIndicViz{
	background:rgba(255,255,255,0.25);
}

#ineqIndic_v1{
	background:rgba(255,255,255,0.25);
}

#pickedCountry{
	font-family: CaeciliaLTStd-Bold;
	font-size: 24px;
	color: #4A4A4A;
}

#countries {
  stroke: #d4dbe3;
  stroke-width: 1px;
  fill: #aabad2;
  fill-opacity: 0.4;
}
#mapVisualisation{
  	clear: right;
	background-image: linear-gradient(-180deg, rgba(228,232,241,0.80) 0%, rgba(228,226,212,0.80) 100%);
}

#avgIndicTooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: rgb(252,252,252);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  pointer-events: none;
	max-width: 33%;
}

#avgIndicTooltip.hidden {
  display: none;
}


.legendTitle {
    font-size: 14px;
    fill: #4F4F4F;
    font-weight: 300;
}
